* {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}

.page {
     display: flex;
     flex-direction: column;
     width: 100%;
}

.header {
     padding: 20px;
     /* border: 1px solid black; */
     display: flex;
     align-items: center;
     flex-direction: column;
     gap: 30px;
     background-color: #F5F5F5;
}



.navbar {
     /* border: 1px solid red; */
     display: flex;
     gap: 40px;
     font-size: 25px;

}

.link {
     color: #1C293F;
     text-decoration: none;
}

a {
     text-decoration: none;
     color: inherit;
}

.link:hover {
     background-color: #1C293F;
     color: white;
}

.nav-body {
     display: flex;
     margin: 0 100px;
}

.kotak-title {
     display: flex;
     flex-direction: column;
     /* border: 1px solid black; */
     padding: 100px;
     /* width: 70%; */
}

.me {
     font-size: 30px;
}

.subme {
     font-size: 45px;
}

img {
     width: 350px;
}

.body {
     display: flex;
     flex-direction: column;

}

/* .skills,
.portfolio {
     border: 1px solid black;
} */

.profile {
     display: flex;
     gap: 100px;
     padding: 50px 140px;
     background-color: #1C293F;
     color: white;
}

.pkiri {
     /* border: 1px solid white; */
     font-weight: bold;
     font-size: 30px;
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;

}

.pkanan {
     /* border: 1px solid white; */
     margin: 20px;

}

.bio {
     margin-bottom: 30px;
     text-align: justify;
}

.skills {
     display: flex;
     flex-direction: column;
     background-color: #F5F5F5;
     padding: 20px;
}

.bungkus {
     background-color: #1C293F;
     /* border: 1px solid black; */
     display: flex;
     flex-direction: column;
     align-items: center;
     color: white;
     gap: 10px;
     padding: 10px 50px 50px 50px;
}

.satas {
     margin: 10px;
     font-weight: bold;
     font-size: 30px;
}

.sbawah {
     display: flex;
     gap: 30px;
     flex-wrap: wrap;

}

.skill-item {
     padding: 10px;
     border: 1px solid white;
}

.portfolio {
     display: flex;
     flex-direction: column;
     padding: 10px;
}

.bungkus-p {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 10px;
}

.p-atas {
     font-weight: bold;
     font-size: 30px;
}

.p-bawah {
     display: flex;
     padding: 0px 100px;
     gap: 10px;
     flex-wrap: wrap;
     justify-content: center;
}

.item {
     border: 1px solid black;
     display: none;
}

.show {
     display: block;
}


#filter {
     display: flex;
     gap: 10px;
     font-size: 18px;

}

.btn.active {
     /* background-color: #F5F5F5; */
     color: black;
     font-size: 18px;
}

.btn {
     border: none;
     outline: none;
     padding: 12px 16px;
     background-color: white;
     cursor: pointer;
     font-size: 18px;
}

.btn:hover {
     /* background-color: #ddd; */
     background-color: #1C293F;
     color: white;
}

/* .showall,
.ui,
.design {
     border: 1px solid black;
     padding: 4px;
} */

.gambar {
     padding: 2px;
}

.pict {
     width: 250px;
     display: block;
}

.tulisan {
     width: 250px;
     padding-left: 2px;
}

.judul-item {
     font-size: 19px;
     font-weight: bold;
     margin-left: 2px;
}

.sub-judul-item {
     font-size: 14px;
     font-weight: normal;
     margin: 2px 0px 2px;
}

.footer {
     display: flex;
     flex-direction: column;
     background-color: black;
     color: white;
     text-align: center;
     border: 1px solid white;

}

.container {
     padding: 20px;
     display: flex;
     flex-direction: column;
     gap: 20px;
}

.footer-name {
     font-size: 24px;
     font-weight: bold;
}

.sosmed {
     display: flex;
     gap: 20px;
     justify-content: center;
}

.pict {
     width: 300px;
}


@media only screen and (max-width: 600px) {
     .navbar {
          font-size: 20px;
     }

     .nav-body,
     .profile {
          flex-direction: column;

     }

     .profile {
          gap: 10px;
          padding: 50px 50px;
     }


     .sbawah {
          justify-content: center;
     }
}